{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Innowise Group test task</title>

    <link type="text/css" rel="stylesheet" href="{% static 'library/css/bootstrap.min.css' %}">
</head>
<body>

<main class="container mb-3">
    <div id="app"></div>
</main>

<script src="{% static 'library/js/bootstrap.min.js' %}"></script>
<script src="{% static 'frontend/main.js' %}"></script>

</body>
</html>